*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #141616;
  background-color: #d6d6d6;
  font-size: 28px;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #628c8c;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #324949;
  font-size: 100px;
  margin-bottom: 1rem;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  color: #416a7c;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #223131;
  font-size: 50px;
}

#scroll {
  margin-top: 10vh;
  float: right;
  opacity: calc(100% - 1% * min(var(--scroll), 40) * 100 / 40);
}

.full-screen-section {
  height: auto;
  text-align: center;
  padding: 1rem;
  position: relative;
}


.top-section .left,
.top-section .right {
  flex-basis: 0;
  flex-grow: 1;
  padding: 1rem;
  padding-left: 3rem;
}

.top-section {
  height:100vh;
  display: flex;
  text-align: start;
  padding: 0;
}

.top-section .left {
  background-color: rgb(245, 240, 245, var(--background-opacity));
}

.top-section .right {
  background: linear-gradient(
    210.65deg,
    rgb(31, 100, 120, var(--background-opacity)) 0%,
    rgb(189, 194, 194, var(--background-opacity)) 100%
  );
}

/*Media */
@media (width <= 1000px) {
  .top-section .right {
    display: none;
  }

  .top-section .left {
    text-align: center;
  }

  body {
    font-size: 24px;
  }

  h1 {
    font-size: 72px;
  }

  h3 {
    font-size: 50px;
  }
}

@media (width <= 500px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 25px;
  }
}

@media (width <= 1078px) {
  .cardsContainer {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

:root {
  --scroll: 0;
  --scrollTotalHeight: 0;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  padding: 5px;
  margin-bottom: auto;
}

.container .card {
  position: relative;
  width: 200px;
  height: 300px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #416a7c;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.container > h2 {
   font-size:medium;
}

.top-section {
  position: sticky;
  top: 0;
  translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
  --background-opacity: calc(100% - 1% * min(var(--scroll), 30) * 100 / 30);
}


.cardSkill > img {
  height: 160px;
  margin: 5px;
}

.cardSkill {
  opacity: 100%;
  padding: 1%;
}

.topicwd{
  background-color: rgb(194, 194, 194, calc(1% * (max(var(--scrollTotalHeight), 390) - 390)*100));
  translate: calc(1% * max(-410 + var(--scrollTotalHeight), -87))
}

.topicvsc{
  background-color: rgb(194, 194, 194, calc(1% * (max(var(--scrollTotalHeight), 440) - 440)*100));
  translate: calc(-1% * max(-450 + var(--scrollTotalHeight), -85))
}

.topicsd{
  background-color: rgb(194, 194, 194, calc(1% * (max(var(--scrollTotalHeight), 485) - 485)*100));
  translate: calc(1% * max(-495 + var(--scrollTotalHeight), -85))
}

.topicrd{
  background-color: rgb(194, 194, 194, calc(1% * (max(var(--scrollTotalHeight), 528) - 528)*100));
  translate: calc(-1% * max(-537 + var(--scrollTotalHeight), -85))
}

.topicba{
  background-color: rgb(194, 194, 194, calc(1% * (max(var(--scrollTotalHeight), 571) - 571)*100));
  translate: calc(1% * max(-580 + var(--scrollTotalHeight), -85))
}

.topictf{
  background-color: rgb(194, 194, 194, calc(1% * (max(var(--scrollTotalHeight), 614) - 614)*100));
  translate: calc(-1% * max(-623 + var(--scrollTotalHeight), -85))
}

.topicwm{
  background-color: rgb(194, 194, 194, calc(1% * (max(var(--scrollTotalHeight), 658) - 658)*100));
  translate: calc(1% * max(-690 + var(--scrollTotalHeight), -85))
}

.topic3m{
  background-color: rgb(194, 194, 194, calc(1% * (max(var(--scrollTotalHeight), 675) - 675)*100));
  translate: calc(-1% * max(-690 + var(--scrollTotalHeight), -85))
}

.separator{
  border: none;
  border-top: 1px solid #000;
}

.first-main-section {
  padding-top: 10vh;
}

.padding-second {
  padding-top: 15vh;
}




.image-container {
  height: 20vh;
}
.image-container img {
  animation: rotateAnimation 4s infinite alternate ease-in-out;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
